.playlist-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.playlist-name {
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    margin: 0.87em;
    width: 60%;
}

.save-to-spotify {
    background-color: green;
    margin-top: 1em;
}